<!DOCTYPE html>
<html lang="en" data-layout-decorate="~{layouts/default-list-layout}">
  <head id="head">

    <title data-th-text="|#{label_show_entity(#{label_localuser})}|">Show LocalUser - Spring Roo application</title>

  </head>

  <body id="body">

    <header role="banner">
      <!-- Content replaced by layout of the page displayed -->
    </header>

    <!--CONTAINER-->
    <div class="container bg-container">
      <!-- CONTENT -->
      <!--
        Only the inner content of the following tag "section" is included
        within the template, in the section "content"
      -->
      <section data-layout-fragment="content" data-th-object="${localUser}">
        <div class="container-fluid content">

          <!-- CONTENT -->
          <h1 data-th-text="#{label_show_entity(#{label_localuser})}">Show LocalUser</h1>

            <div id="mainEntityFieldSet">
              <h2 data-th-text="#{label_data_entity(#{label_localuser})}">LocalUser data</h2>
              <ul class="list-unstyled" id="containerFields">
                  <li id="localuser-ldapid-field" data-z="8019522b">
            	      <strong data-th-text="#{label_localuser_ldapid}">ldapId</strong>
                    <span data-th-text="*{{ldapId}}">ldapIdValue</span>
         	        </li>
                  <li id="localuser-name-field" data-z="1de19beb">
            	      <strong data-th-text="#{label_localuser_name}">name</strong>
                    <span data-th-text="*{{name}}">nameValue</span>
         	        </li>
                  <li id="localuser-blocked-field" data-z="773d6273">
            	      <strong data-th-text="#{label_localuser_blocked}">blocked</strong>
                    <span data-th-text="*{{blocked}}">blockedValue</span>
         	        </li>
                  <li id="localuser-newregistration-field" data-z="510300f3">
            	      <strong data-th-text="#{label_localuser_newregistration}">newRegistration</strong>
                    <span data-th-text="*{{newRegistration}}">newRegistrationValue</span>
         	        </li>
              </ul>
            </div>


          <div class="clearfix">
            <div class="pull-right">
             <a id="LocalUser_edit" href="edit.html" class="btn btn-primary" data-th-title="#{label_goEdit}" data-th-href="${@linkBuilder.of('LocalUsersItemThymeleafController').to('editForm').with('localUser', localUser.id)}" data-th-text="#{label_edit}">Edit</a>
            </div>
          </div>


          <div class="clearfix">
            <div class="pull-left">
              <a id="LocalUser_list" href="list.html" class="btn btn-default" data-th-title="#{label_goBack}" data-th-href="${@linkBuilder.of('LocalUsersCollectionThymeleafController').to('list')}">
  	             <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
  	             <span data-th-text="#{label_back}">Back</span>
  	          </a>
            </div>
          </div>
        </div>

      </section>
      <!-- /CONTENT -->
  </div>
  <!-- /CONTAINER -->

  <footer class="container">
    <!-- Content replaced by layout of the page displayed -->
  </footer>

  <!-- JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so that the pages load faster -->
  <!-- JavaScript loaded by layout of the page displayed -->
  <!--
       Only the inner content of the following tag "javascript" is included
       within the template, in the div "javascript"
      -->
  <div data-layout-fragment="javascript">
  </div>

  </body>

</html>
