<!DOCTYPE html>
<html lang="en" data-layout-decorate="~{layouts/default-list-layout}">
    <head id="head">

    <title data-th-text="|#{label_show_entity(#{label_localuser})}|">Show LocalUser - Spring Roo application</title>

  </head>

  <body id="body">

    <header role="banner">
      <!-- Content replaced by layout of the page displayed -->
    </header>

    <!--CONTAINER-->
    <div class="container bg-container">
      <!-- CONTENT -->
      <!--
        Only the inner content of the following tag "section" is included
        within the template, in the section "content"
      -->
      <section data-th-fragment="inline-content" data-layout-fragment="content" data-th-object="${localUser}">
        <div>

          <!-- CONTENT -->
            <div id="mainEntityFieldSet">
              <ul class="list-unstyled" id="containerFields">
                  <li id="localuser-name-field" data-z="1de19beb">
            	      <strong data-th-text="#{label_localuser_name}">name</strong>
                    <span data-th-text="*{{name}}">nameValue</span>
         	        </li>
                  <li id="localuser-login-field" data-z="49637bd3">
            	      <strong data-th-text="#{label_localuser_login}">login</strong>
                    <span data-th-text="*{{login}}">loginValue</span>
         	        </li>
                  <li id="localuser-blocked-field" data-z="773d6273">
            	      <strong data-th-text="#{label_localuser_blocked}">blocked</strong>
                    <span data-th-text="*{{blocked}}">blockedValue</span>
         	        </li>
                  <li id="localuser-newregistration-field" data-z="510300f3">
            	      <strong data-th-text="#{label_localuser_newregistration}">newRegistration</strong>
                    <span data-th-text="*{{newRegistration}}">newRegistrationValue</span>
         	        </li>
              </ul>
            </div>

        </div>

      </section>
      <!-- /CONTENT -->
  </div>
  <!-- /CONTAINER -->

  <footer class="container">
    <!-- Content replaced by layout of the page displayed -->
  </footer>

  <!-- JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so that the pages load faster -->
  <!-- JavaScript loaded by layout of the page displayed -->
  <!--
       Only the inner content of the following tag "javascript" is included
       within the template, in the div "javascript"
      -->
  <div data-layout-fragment="javascript">
  </div>

  </body>

</html>
